.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.button:hover {
    -fx-background-color: rgba(185, 185, 185, 0.95);
}
.button#close{
    -fx-start-margin: 5px;
    -fx-end-margin: 10px;
}
.button#close:hover{
    -fx-background-color: rgba(234, 46, 46, 0.55);
}
#saveTitle{
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    -fx-font-size: 12px;
}
#saveTitle:hover{
    -fx-border-color: transparent;
    -fx-background-color: lightgrey;
}
#saveTitle:focused{
    -fx-border-color: lightgrey;
    -fx-border-width: 2px;
    -fx-background-color: transparent;
}
#noteArea{
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10 0.0 0.0;

}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}